<template>
  <div>
    <common-header :title="title" :showback="false"></common-header>
      <div class="page-content">
      <div class="swipe-wrapper">
        <mt-swipe :auto="4000">
          <mt-swipe-item class="item">
            <img src="https://sfault-activity.b0.upaiyun.com/299/510/2995106733-59f96d9265f28_medium" alt="">
          </mt-swipe-item>
          <mt-swipe-item class="item">
            <img src="https://sfault-activity.b0.upaiyun.com/299/510/2995106733-59f96d9265f28_medium" alt="">
          </mt-swipe-item>
        </mt-swipe>
        <mt-button @click="toSubscribe">预定</mt-button>
      </div>
    </div>
  </div>
</template>

<script>
import {mapMutations, mapGetters, mapState} from 'vuex'
import commonHeader from 'common/common-header'
import {Swipe, SwipeItem} from 'mint-ui'
export default {
  data () {
    return {
      title: '你的故事',
      num: 0
    }
  },
  created() {},
  methods: {
    ...mapMutations({
      setNum: 'SET_NUM'
    }),
    todetail() {
      this.$router.togo('/Home/Detail')
    },
    toSubscribe() {
      this.$router.togo('/subscribe')
    }
  },
  components: {
    commonHeader,
    'mt-swipe': Swipe,
    'mt-swipe-item': SwipeItem
  },
  computed: {
    ...mapGetters([
      'number'
    ]),
    ...mapState({
      number: state => state.home.number
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
@import "~styles/index.less";
@import "~styles/variable.less";
.hello{
  h1{
    color: red;
    .fs(38);
  }
}
.swipe-wrapper{
    width: 100%;
    height: 210px;
}

.item{
  text-align: center;
  font-size: 40px;
  color: white;
  img {
    width: 100%;
  }
}

.button-wrapper{
    display: flex;
    height: 100px;
}
.flex-item{
    flex: 1;
    display: inline-block;
    text-align: center;
    height: 100%;
    line-height: 100%;
    font-size: 40px;
}

</style>
