<template>
  <div>
    <common-header :title="title" :showback="true"></common-header>
    <div class="page-content">
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="用户名" prop="username">
          <el-input v-model="ruleForm.username"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="pass">
          <el-input type="password" v-model="ruleForm.pass" auto-complete="off">
        </el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">Login</el-button>
          <el-button @click="reset('ruleForm')">reset</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import {mapMutations} from 'vuex'
import commonHeader from 'common/common-header'
import {Field} from 'mint-ui'

export default {
  data() {
    var validatePass = (rule, value, callback) => {
      if (value === '') {
        return callback(new Error('输入密码'))
      } else {
        if (this.ruleForm.checkPass !== '') {
          this.$refs.ruleForm.validateField('checkPass')
        }

        return callback()
      }
    }

    return {
      title: '登录',
      ruleForm: {
        username: 'adassd',
        pass: '',
        checkPass: ''
      },
      rules: {
        username: [
          {required: true, message: '请输入您的名称', trigger: 'blur'},
          { min: 2, max: 5, message: '长度在 2 到 5 个字符', trigger: 'blur' }
        ],
        pass: [
          {required: true, validator: validatePass, trigger: 'blur'}
        ]
      },
      rurl: this.$route.query.redirect ? this.$route.query.redirect : '/home'
    }
  },
  components: {
    commonHeader,
    'mt-field': Field
  },
  methods: {
    ...mapMutations({
      setLogin: 'SET_LOGIN'
    }),
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$message({
            type: 'success',
            message: '登录'
          })
          this.setLogin('100')
          this.$router.togo(this.rurl)
        } else {
          console.log('error submit')
          return false
        }
      })
    }
  }
}
</script>
<style scoped lang="less">
@import "~styles/index.less";
@import "~styles/variable.less";

.hello{
  h1{
    color: red;
    .fs(38);
  }
}

.demo-ruleForm {
  .el-form-item {
     .mb(40);
  }
}
</style>
