<template>
  <div v-cloak id="popup" @click="popupHide">
    <div class="overlay"></div>
    <div class="content">
      <section class="srv-time-selector" v-show="switchShow">
        <div class="bar bar-1">
          <h1>选择服务时间</h1>
        </div>
        <div class="bd">
          <div class="header">
            <div class="data-picker">
              <div class="wrapper">
                <button v-for="(date, index) in dates.nowMonth" id="'scroll-' + index" :class="[{current: date.current}, {'appointment': !date.appointment}]" @click="selectedNow(index, $event)">
                  {{date.week}} {{date.onth}}/{{date.day}}
                  <span>{{date.appointment ? '可预约' : '暂不可约'}}</span>
                </button>
                <button v-for="(date, index) in dates.nextMonth" :id="'scroll-next-' + index" :class="[{current: date.current}, {'appointment': !date.appointment}]" @click="selectedNext(index, $event)">
                  {{date.week}} {{date.month}}/{{date.day}}
                  <span>{{date.appointment ? '可预约' : '暂不可约'}}</span>
                </button>
              </div>
            </div>
            <button class="cal" @click="tableShow">
              <span>30天</span>
            </button>
          </div>
          <div :class="['no-sel', {'not-chose-time': isChoseTime}]" @click="notChoseTime" v-show="isChoseTimeShow">
            <p>暂不选择服务时间</p>
            <p>之后可以在我的订单页面选择</p>
          </div>
          <div class="hours">
            <div class="wrapper" v-for="date in dates.nowMonth" v-if="date.current && date.appointment">
              <div :class="{'chose-time': !isChoseTime}" v-if="isFirstDay === 0">
                <button  :class="['hour-this', {'not-can-use': (key + 20)/2 <= currentHours + 0.5}]" v-for="(hour, key) in date.hours" @click="timeChose(key, $event)">{{hour.hour}}</button>
              </div>
              <div :class="{'chose-time': !isChoseTime}" v-else>
                <button class="hour-this" v-for="(hour, key) in date.hours" @click="timeChose(key, $event)">{{hour.hour}}</button>
              </div>
            </div>
            <div class="wrapper" v-else-if="date.current && !date.appointment">
              <div class="tips">
                <img class="null-tips" src="../assets/imgs/baoqian_weici2_icon.png" alt="" />
                <p>抱歉，今天的服务暂时不能预约哦~</p>
              </div>
            </div>
            <div class="wrapper"  v-for="date in dates.nextMonth" v-if="date.current && date.appointment">
              <div :class="{'chose-time': !isChoseTime}">
                <button class="hour-this" v-for="(hour,index) in date.hours" @click="timeChose(key, $event)">{{hour.hour}}</button>
              </div>
            </div>
            <div class="wrapper" v-else-if="date.current && !date.appointment">
              <div class="tips">
                <img class="null-tips" src="../assets/imgs/baoqian_weici2_icon.png" alt="" />
                <p>抱歉，今天的服务暂时不能预约哦~</p>
              </div>
            </div>
          </div>
          <div class="out">
            <button class="submit" @click="submitFunc">确定</button>
          </div>
        </div>
      </section>

      <section class="srv-time-selector" v-show="!switchShow">
        <div class="bar">
          <img width="8" src="css/images/fanhui_weici2_icon.png" @click="tableHide">
          <h1>选择服务时间</h1>
        </div>
        <div class="bd">
          <section class="days-component">
            <div class="weekdays">
              <div class="weekday">日</div>
              <div class="weekday">一</div>
              <div class="weekday">二</div>
              <div class="weekday">三</div>
              <div class="weekday">四</div>
              <div class="weekday">五</div>
              <div class="weekday">六</div>
            </div>
            <div class="days-body">
              <div>
                <div class="month">{{currentYears}}年{{currentMonth}}月</div>
                <div class="days">
                  <div class="day" v-for="day in nullDay">{{day}}</div>
                  <div class="day" v-for="(date, index) in dates.nowMonth" :id="'scroll-' + index" :class="[{current: date.current}, {'appointment': !date.appointment}]" @click="selectedNow(index, $event)">
                    <font v-show="index == 0">今天</font>
                    <span>{{date.appointment ? '' : '暂不可约'}}</span>
                    <a  :href="'#scroll-' + index">{{date.day}}</a>
                  </div>
                </div>
                <div class="month">{{currentYears}}年{{currentMonth + 1}}月</div>
                <div class="days">
                  <div class="day" v-for="day in nextNullDay">{{day}}</div>
                  <div class="day" v-for="(date, index) in dates.nextMonth" :id="'scroll-next-' + index" :class="[{current: date.current}, {'appointment': !date.appointment}]" @click="selectedNext(index, $event)">
                    <span>{{date.appointment ? '' : '暂不可约'}}</span>
                    <a  :href="'#scroll-next-' + index">{{date.day}}</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      switchShow: true,
      currentMonth: null,
      currentHours: null,
      isFirstDay: 0,
      popupShow: false,
      isChoseTime: true,
      isChoseTimeShow: true,
      nextProtoWeek: null,
      nullDay: [],
      nextNullDay: [],
      dates: {
        nowMonth: [],
        nextMonth: []
      }
    }
  },

  created: function() {
    var totalDays = 30,
      date = new Date(),
      currentYears = date.getFullYear(),
      week = ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
      currentMonth = date.getMonth() + 1,
      currentDay = date.getDate(),
      protoWeek = date.getDay(),
      currentHours = date.getHours(),
      hours = [
        { hour: '10:00' },
        { hour: '10:30' },
        { hour: '11:00' },
        { hour: '11:30' },
        { hour: '12:00' },
        { hour: '12:30' },
        { hour: '13:00' },
        { hour: '13:30' },
        { hour: '14:00' },
        { hour: '14:30' },
        { hour: '15:00' },
        { hour: '15:30' },
        { hour: '16:00' },
        { hour: '16:30' },
        { hour: '17:00' },
        { hour: '17:30' },
        { hour: '18:00' },
        { hour: '18:30' }
      ]
    this.currentYears = currentYears
    this.currentMonth = currentMonth
    this.currentDay = currentDay
    this.currentHours = currentHours
    console.log(this.currentDay)

    for (var i = 0; i < totalDays; i++) {
      var month = date.getMonth() + 1,
        day = date.getDate(),
        proteWeek = date.getDay(),
        timestamp = date.getTime(),
        appointment = true

      if (proteWeek === 0 || proteWeek === 6) {
        appointment = false
      }

      var d = {
        timestamp: timestamp,
        appointment: appointment,
        month: month,
        day: day,
        proteWeek: proteWeek,
        week: week[proteWeek],
        hours: hours,
        current: false
      }

      if (month === currentMonth) {
        this.dates.nowMonth.push(d)
      } else {
        this.dates.nextMonth.push(d)
      }

      date.setDate(date.getDate() + 1)
    }

    this.dates.nowMonth[0].current = true
    this.nextProtoWeek = this.dates.nextMonth[0].proteWeek
    console.log(this.nextProtoWeek)
    console.log(this.dates)

    for (var j = 0; j < protoWeek; j++) {
      this.nullDay.push('')
    }

    for (var k = 0; k < this.nextProtoWeek; k++) {
      this.nextNullDay.push('')
    }
  },

  methods: {
    selectedNow: function(index, event) {
      var date

      for (date in this.dates.nowMonth) {
        this.dates.nowMonth[date].current = false
      }
      for (date in this.dates.nextMonth) {
        this.dates.nextMonth[date].current = false
      }

      if (!this.dates.nowMonth[index].appointment) {
        this.isChoseTimeShow = false
      } else {
        this.isChoseTimeShow = true
        this.isChoseTime = true
      }

      this.isFirstDay = index
      console.log(this.isFirstDay)
      this.tableHide()
      this.dates.nowMonth[index].current = true
    },
    selectedNext: function(index, event) {
      var date;

      for (date in this.dates.nextMonth) {
        this.dates.nextMonth[date].current = false

      }
      for (date in this.dates.nowMonth) {
        this.dates.nowMonth[date].current = false

      }

      if (!this.dates.nextMonth[index].appointment) {
        this.isChoseTimeShow = false
      } else {
        this.isChoseTimeShow = true
        this.isChoseTime = true
      }

      this.isChoseTime = true
      this.tableHide()

      this.dates.nextMonth[index].current = true

    },
    tableHide: function() {
      this.switchShow = true
    },
    tableShow: function() {
      this.switchShow = false
    },
    popupHide: function() {
      this.popupShow = false
    },
    timeChose: function(key, event) {
      this.isChoseTime = false;
      let btArr = Array.from(document.getElementsByClassName(event.target.className))
      var bt;

      for (bt of btArr) {
        bt.classList.remove('chosed')
      }
      event.target.classList.add('chosed')
    },
    notChoseTime: function() {
      this.isChoseTime = true
    },
    submitFunc: function() {
      return
    },


  }
}
</script>

<style lang="less">
@import "~styles/index.less";
@import "~styles/variable.less";

[v-cloak] {
  display: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #666;
  text-decoration: none;
}
p {
  margin: 0;
}
button,
input {
  -webkit-appearance: none;
  background: none;
  border: none;
  outline: none;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#popup .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
#popup .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
}
#popup .content .srv-time-selector {
}
#popup .content .srv-time-selector .bar {
}
#popup .content .srv-time-selector .bar > h1 {
  text-align: center;
  font-weight: normal;
  margin: 0;
  font-size: 14px;
  color: #222;
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #f0f0f0;
}
#popup .content .srv-time-selector .bar > i {
}
#popup .content .srv-time-selector .bd {
}
#popup .content .srv-time-selector .bd .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
  background: #f7f7f7;
}
#popup .content .srv-time-selector .bd .header .data-picker {
  overflow-x: auto;
  overflow-y: visible;
  -webkit-box-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
#popup .content .srv-time-selector .bd .header .data-picker .wrapper {
  white-space: nowrap;
}
#popup .content .srv-time-selector .bd .header .data-picker .wrapper > button {
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid #f7f7f7;
  margin-right: 1rem;
  height: 50px;
  text-align: center;
}
#popup
  .content
  .srv-time-selector
  .bd
  .header
  .data-picker
  .wrapper
  > button.current,
#popup
  .content
  .srv-time-selector
  .bd
  .header
  .data-picker
  .wrapper
  > button.current
  span {
  color: #68c9d0;
}
#popup
  .content
  .srv-time-selector
  .bd
  .header
  .data-picker
  .wrapper
  > button.current:after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 82%;
  display: block;
  height: 2px;
  background: #68c9d0;
}
#popup
  .content
  .srv-time-selector
  .bd
  .header
  .data-picker
  .wrapper
  > button
  > span {
  display: block;
  color: #999;
  font-size: 12px;
}
#popup .content .srv-time-selector .bd .header .cal {
  flex: 0 0 80px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  width: 80px;
  border-left: 1px solid #e6e6e6;
  color: #999;
}
#popup .content .srv-time-selector .bd .header .cal img {
  display: block;
  margin: 0 auto;
}
#popup .content .srv-time-selector .bd .header .cal > span {
}
#popup .content .srv-time-selector .bd .no-sel {
  margin: 10px;
  padding: 5px 0;
  text-align: center;
  border: 1px solid #979797;
  color: #979797;
}
#popup .content .srv-time-selector .bd .no-sel.not-chose-time {
  border: 1px solid #68c9d0;
  color: #68c9d0;
  background: url(../assets/imgs/dagou_weici2_icon.png) no-repeat right bottom;
}
#popup .content .srv-time-selector .bd .no-sel p:first-child {
  font-weight: bold;
  font-size: 14px;
}
#popup .content .srv-time-selector .bd .no-sel > p {
  font-size: 12px;
}
#popup .content .srv-time-selector .bd .hours {
  margin: 10px 10px 0;
}
#popup .content .srv-time-selector .bd .hours .wrapper {
  height: 184px;
  overflow: auto;
}
#popup .content .srv-time-selector .bd .hours .wrapper .tips {
  text-align: center;
}
#popup .content .srv-time-selector .bd .hours .wrapper .null-tips {
  margin: 20px 0 10px;
}
#popup .content .srv-time-selector .bd .hours .wrapper > div button {
  width: 24.25%;
  margin-right: 1%;
  margin-bottom: 3px;
  border: 1px solid #68c9d0;
  color: #999;
  padding: 10px 0;
}
#popup
  .content
  .srv-time-selector
  .bd
  .hours
  .wrapper
  > .chose-time
  button.chosed {
  background: url(../assets/imgs/dagou_weici2_icon.png) no-repeat right bottom;
}
#popup
  .content
  .srv-time-selector
  .bd
  .hours
  .wrapper
  > div
  button.not-can-use {
  background: #f7f7f7;
  border: 1px solid #979797;
  pointer-events: none;
}
#popup
  .content
  .srv-time-selector
  .bd
  .hours
  .wrapper
  > div
  button:nth-child(4n) {
  margin-right: 0;
}
#popup .content .srv-time-selector .bd .out {
  border-top: 1px solid #f0f0f0;
  padding: 5px 10px;
}
#popup .content .srv-time-selector .bd .out > button.submit {
  width: 100%;
  background: #68c9d0;
  vertical-align: middle;
  height: 42px;
  color: #fff;
  font-size: 16px;
}

#popup .content .srv-time-selector .bar {
  position: relative;
}
#popup .content .srv-time-selector .bar h1 {
}
#popup .content .srv-time-selector .bar img {
  display: inline-block;
  float: left;
  margin-top: 14px;
  margin-left: 10px;
}
#popup .content .srv-time-selector .bar-1 img {
  position: absolute;
  right: 10px;
  top: 0;
}
#popup .content .srv-time-selector .bd {
}
#popup .content .srv-time-selector .bd .days-component {
}
#popup .content .srv-time-selector .bd .days-component .weekdays {
  overflow: hidden;
  background: #f7f7f7;
  height: 52px;
  line-height: 52px;
}
#popup .content .srv-time-selector .bd .days-component .weekdays .weekday {
  float: left;
  width: 14%;
  text-align: center;
  color: #333;
}
#popup .content .srv-time-selector .bd .days-component .days-body {
  color: #333;
}
#popup .content .srv-time-selector .bd .days-component .days-body .month {
  text-align: center;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  height: 42px;
  line-height: 42px;
}
#popup .content .srv-time-selector .bd .days-component .days-body .days {
  overflow: hidden;
  padding: 10px 0;
}
#popup .content .srv-time-selector .bd .days-component .days-body .day {
  position: relative;
  float: left;
  width: 14%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
#popup .content .srv-time-selector .bd .days-component .days-body .day span,
#popup .content .srv-time-selector .bd .days-component .days-body .day font {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -16px;
  font-size: 8px;
  color: #999;
  line-height: 1;
  display: block;
}
#popup .content .srv-time-selector .bd .days-component .days-body .day font {
  top: 0;
  color: red;
  margin-left: -8px;
}
#popup .content .srv-time-selector .bd .days-component .days-body .day a {
  display: block;
  width: 30px;
  margin: 0 auto;
}
#popup
  .content
  .srv-time-selector
  .bd
  .days-component
  .days-body
  .day.current
  a {
  background: #69c9d1;
  color: #fff;
}
</style>
